body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

/* Spinner */

.spinner {
  width: 100px;
  height: 100px;
  position: relative;
}
.spinner div {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 8px solid transparent;
  border-top-color: aquamarine;
  border-radius: 50%;
  animation: spinnerOne 1.3s linear infinite;
}
.spinner div:nth-child(2) {
  border: 8px solid transparent;
  border-bottom-color: aquamarine;
  animation: spinnerTwo 1.3s linear infinite;
}
@keyframes spinnerOne {
  0% {
    transform: rotate(0deg);
    border-width: 8px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 8px;
  }
}
@keyframes spinnerTwo {
  0% {
    transform: rotate(0deg);
    border-width: 1px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 8px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 1px;
  }
}

/* Bouncing Balls */
.bouncer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100px;
  height: 100px;
}
.bouncer div {
  width: 20px;
  height: 20px;
  background: blue;
  border-radius: 50%;
  animation: bouncer 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
}
.bouncer div:nth-child(2) {
  animation-delay: 0.1s;
  opacity: 0.8;
}
.bouncer div:nth-child(3) {
  animation-delay: 0.2s;
  opacity: 0.6;
}
.bouncer div:nth-child(4) {
  animation-delay: 0.3s;
  opacity: 0.4;
}

@keyframes bouncer {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}

/* Flipping Squares */
.squares {
  position: relative;
  width: 100px;
  height: 100px;
  perspective: 200px;
}
.squares div {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  background: pink;
  animation: flip 2s linear infinite;
  transform-origin: right bottom;
}
.squares div:nth-child(2) {
  animation-delay: 1s;
  opacity: 0;
}
@keyframes flip {
  0% {
    transform: rotateX(0) rotateY(0);
  }
  25% {
    transform: rotateX(0) rotateY(180deg);
  }
  50% {
    transform: rotateX(180deg) rotateY(180deg);
  }
  25% {
    transform: rotateX(180deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(0) rotateY(0);
  }
}

/* Circular Spinner Dots */
.container {
  width: 200px;
  height: 300px;
  position: relative;
}
.circle {
  height: 200px;
  position: absolute;
  animation: spin 3s linear infinite;
}
.container .circle div {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  animation: dots 3s linear infinite;
}
.container .circle:nth-child(1) div {
  animation-delay: 0.25s;
}
.container .circle:nth-child(2) div {
  animation-delay: 0.5s;
}
.container .circle:nth-child(3) div {
  animation-delay: 0.75s;
}
.container .circle:nth-child(4) div {
  animation-delay: 1s;
}
.container .circle:nth-child(5) div {
  animation-delay: 1.25s;
}
.container .circle:nth-child(6) div {
  animation-delay: 1.5s;
}
.container .circle:nth-child(7) div {
  animation-delay: 1.75s;
}
.container .circle:nth-child(8) div {
  animation-delay: 2s;
}
.container .circle:nth-child(9) div {
  animation-delay: 2.25s;
}
.container .circle:nth-child(10) div {
  animation-delay: 2.5s;
}
.container .circle:nth-child(11) div {
  animation-delay: 2.75s;
}
.container .circle:nth-child(12) div {
  animation-delay: 3s;
}
.container .circle:nth-child(1) {
  animation-delay: 0.25s;
}
.container .circle:nth-child(2) {
  animation-delay: 0.5s;
}
.container .circle:nth-child(3) {
  animation-delay: 0.75s;
}
.container .circle:nth-child(4) {
  animation-delay: 1s;
}
.container .circle:nth-child(5) {
  animation-delay: 1.25s;
}
.container .circle:nth-child(6) {
  animation-delay: 1.5s;
}
.container .circle:nth-child(7) {
  animation-delay: 1.75s;
}
.container .circle:nth-child(8) {
  animation-delay: 2s;
}
.container .circle:nth-child(9) {
  animation-delay: 2.25s;
}
.container .circle:nth-child(10) {
  animation-delay: 2.5s;
}
.container .circle:nth-child(11) {
  animation-delay: 2.75s;
}
.container .circle:nth-child(12) {
  animation-delay: 3s;
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes dots {
  from {
    background-color: rgb(185, 183, 183);
    transform: scale(0.4);
  }
  to {
    background-color: rgb(7, 6, 6);
  }
}

/* Loading Text */
.loading {
  width: 100px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.loading .dots {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  animation: anim 1.2s linear infinite;
}
.loading .dots:nth-child(2) {
  animation-delay: 0.4s;
}
.loading .dots:nth-child(3) {
  animation-delay: 0.8s;
}
/* .loading .dots:nth-child(3) {
  animation-delay: 1.2s;
} */
@keyframes anim {
  from {
    background-color: aqua;
    transform: scale(0.5);
  }
  to {
    background-color: rgb(48, 6, 165);
    transform: scale(1);
  }
}
